<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!--nav bar-->
    <div class="navigator">
      <div class="left-side">
        <a href="dashboard.html">Dashboard</a>
      </div>
      <div class="right-side">
        <div class="dropdown">
          <button class="drop-button">Your Name</button>
          <div class="button">
            <a href="Setting.html">Settings</a>
            <a href="Help.html">Help</a>
            <a>Log Out</a>
          </div>
        </div>
      </div>
    </div>
    <!--dashboard-->
    <a class="create-form" href="form.html">+</a>
    <div class="tip">
      <img src="" />
    </div>
    <div class="header">
      <h2>Your Assigned Forms</h2>
    </div>
    <h2 class="quick-access-header">Quick Access:</h2>
    <div class="quick-access">
      <div class="recent-forms">
        <p>Most Recent Form</p>
      </div>
    </div>
    <h2 class="forms-header">Forms:</h2>
    <div class="forms">
      <div class="active-form">
        active
      </div>
      <div class="active-form">
        active
      </div>
      <div class="inactive-form">
        inactive
      </div>
    </div>
  </body>
</html>
